.links{
  color: aliceblue;
  text-decoration: none;
  font-family: Fjalla;
  font-style: oblique;
}
.fot{
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  height: 400px;
  background-color:navy;
}
.ico{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    /* margin-top: 5px; */
}
.i{
    margin-left: 15px;
}